.nobr { white-space: nowrap; }
.nopadding { padding: 0; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.float-contain { 
  overflow: hidden; 
  _float: left; 
}

.photo-left {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}
.photo-right {
  float: right;
  margin-bottom: 5px;
  margin-left: 5px;
}